/*
    ------------------------
    ----- Base Styles ------
    ------------------------
*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
}

body{
    margin-top: var(--header-height);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    display: block;
    height: auto;
    max-width: 100%;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

input,
textarea{
    border: none;
    font-family: inherit;
}

address{
    font-style: normal;
}