/*
    ------------------------
    ------ Navigation ------
    ------------------------
*/

.nav{

    @include breakpoint-down(small){
        &__item{
            &:not(:last-of-type){
                margin-bottom: 1rem;
            }
        }
    }
}