/*
    ------------------------
    -------- Skills --------
    ------------------------
*/

.skills{
    background-color: var(--color-primary-very-light);
    text-align: center;

    @include breakpoint-down(medium){
        &__subsection{
            > *:not(:last-child){
                margin-bottom: var(--space-xl);
            }
        }
    }

    &__image-container{
        max-width: 320px;
        margin: 0 auto;
    }

    &__text-container{

        > *:not(:last-child){
            margin-bottom: var(--space-sm);
        }
    }

    &__list{
        margin: 0 var(--space-md);
        @include flex(c, c, row);
        flex-wrap: wrap;
    }

    &__item{
        // margin: .5rem 1.5rem;
        margin: .5rem 2rem .5rem 0;
        @include flex(c, c, column);
        &:hover{
            color: var(--color-primary);
        }
    }

    // Media Queries

    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        header{
            grid-column: 1/-1;
        }
        
        &__subsection{
            grid-column: 1/-1;
            display: inherit;
            grid-template-columns: inherit;
        }
        
        &__image-container{
            max-width: 500px;
            margin: initial;
            align-self: center;

            &--left{
                grid-column: 1 / 6;
            }
            
            &--right{
                order: 2;
                grid-column: 8 / -1;
            }
        }
        
        &__text-container{
            text-align: initial;
            align-self: center;

            &--left{
                grid-column: 1 / 6;
            }
            
            &--right{
                order: 2;
                grid-column: 8 / -1;
            }
        }

        &__list{
            margin: initial;
            justify-content: flex-start;
        }
    }
}
